.nav-link {
    color: #bb9e37;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
.navbar {
    color: #332d2d;
}
.navbar-brand {
    color:#BB9E37;
}
.active {
    background: transparent !important;
    color:#BB9E37 !important;
    border-bottom: 5px solid #BB9E37;

    border-radius: 0px !important;
}
.indexpic {
    height: 500px;
    background-position: center top; 
    background-image:url(shop2.jpeg)
}
.fancytext { font-family: 'Great Vibes', cursive;

}

.fancytext h1 {
    font-size:70px;

}

.fancytext h5 {
    font-size: 30px;
}

a {
    color: #BB9E37

}
b {
    text-align:center;
}

.bordered {

    padding: 20px;
    border: 5px solid #BB9E37;
  }

  .bordered2 {
    padding:20px;
    border: 1px solid #ffffff;
  }

  .names {
    color:#ffffff
  }
h4 {
    color:#ffffff
}
.whiteborder {
    border: 3px solid #ffffff;
}

.gallery {
    border: 3px solid #bb9e37
}

body{
    background-color:#212024
}

h3 {
    color: #BB9E37
}

.accordion-button:not(.collapsed) {
   background-color:#212024 ;
   color: white;
}

.accordion-button {
    background-color: #212024;
    color: white ;
    font-size: 25px;
}

.accordion-body {
    background-color: #212024;
    color: white;
    font-size: 18px;
}
.mx-4{
    font-family:'Times New Roman', Times, serif
}

.paddingrental {
    padding: 70px;
    border: 1px solid #000;
  }
.rentalheader {
    color:#BB9E37;
    text-align:center;
}

.rentalcontent
{ color:white; text-align:center; }

.hovercontainer 
{ padding: 20px;  display: flex; flex-direction:  center; }

.hoverbox 
{ margin: 0 10px; box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1)}

.hoverbox img 
{ display: block; width:100%; border-radius: 5px; }

.hoverbox:hover 
{ transform: scale(1.3); z-index:3; }
